* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  background-image: url('../public/images/NightLandscape.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
}


/* h1 formatting */
h1 {
  font-size: 60px;
  padding: 1%;
}

/* Setting a background image along with area size and flexbox */
main {
  margin-bottom: 2%;
  height: 100%;
  width: 100%;
  border: 5px solid #ffd700;
  display: flex;
  flex-wrap: wrap;
  color: #bababa;
}

/* Setting opacity and color settings to be used in text boxes */
.transparent {
  margin: 2%;
  background-color: #000000;
  border: 2px solid #808080;
  opacity: 0.8;
}

/* Setting flex grow/shrink/basis */
aside {
  flex: 1 1 100%;
  padding: 5%;
}

/* h2 (about me) font settings */
h2 {
  font-size: 50px;
}

/* Setting flexbox and position for avatar and contact info */
aside section {
  padding-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Avatar image modification */
aside img {
  border-radius: 10%;
}

/* h3 (Contact) font settings */
h3 {
  font-size: 25px;
}

/* Contact info font settings */
aside li {
  font-weight: bold;
}

/* Contact info spacing */
aside ul {
  margin-left: 5%;
}

/* Anchor font and color stlylizing */
a {
  font-weight: 100;
  color: #bababa;
  text-decoration: none;
}

a:hover {
  color: #f18e3d;
  text-decoration: underline;
  text-shadow: #000000 1px 0 10px;;
}

/* Setting flexbox and positioning for navigation menu */
nav {
  flex: 1;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li a {
  border-radius: 30%;
  transition: all 0.5s ease-in-out;
}

nav li:hover a {
  text-shadow: 1px 1px 10px #000000, 0px 0px 5px #ffffff, 0px 0px 30px #ffffff;
}

/* Adding pseudo-elements to before and after list elements*/
nav li::before, nav li::after {
  content: '\2728';
}

/* Setting flexbox spacing and positioning for portfolio projects */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Larger size and flex scaling */
.big-projects {
  flex: 1 1 100%; /* Takes up the full width of the row */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Smaller size and flex scaling */
.small-projects {
  flex: 1 1 calc(33.33% - 20px); /* Distribute equally in a row with some spacing */
  max-width: calc(33.33% - 20px); /* Set max width for small projects */
  margin: 10px; /* Add some margin for spacing */
  padding: 10px;
}

/* h4 (big project names) font settings */
h4 {
  text-align: center;
  font-size: 25px;
  padding: 20px;
}

.ProjectGitHub {
  font-weight: 100;
  color: #000000;
  text-decoration: none;
}

/* h5 (small project names) font settings */
h5 {
  text-align: center;
  padding: 10px;
}

/* Project image border, opacity, and hover transition setup */
.big-projects img, .small-projects img {
  border: 5px solid #ffd700;
  transition: all 0.5s ease-in-out;
  opacity: 0.7;
}

.big-projects img {
  max-width: 100%; /* Ensure the image doesn't exceed the container's width */
  height: 50vh; /* Maintain aspect ratio */
}

.small-projects img {
  width: 100%;
}

/* Project image hover glow and opacity effect */
.big-projects img:hover, .small-projects img:hover {
  box-shadow: inset 0px 0px 30px #ff0000, 0 0 15px #ff0000;
  opacity: 1;
}

/* footer styling */
footer {
  background-color: #053d6e;
}

/* Media query and adjusting elements according to screen size */
@media screen and (min-width: 768px) {
  aside {
    flex: 1 1 60%;
  }

  aside p {
    line-height: 2;
  }

  aside section {
    margin-top: 15%;
  }

  aside ul {
    line-height: 2.5;
  }

  nav {
    line-height: 5;
  }
}